
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;

    --primary: 260 70% 55%;
    --primary-foreground: 210 40% 98%;

    --secondary: 222 47% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 222 47% 11%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 170 80% 40%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 260 70% 55%;

    --radius: 0.5rem;

    --sidebar-background: 225 70% 4%;
    --sidebar-foreground: 213 31% 91%;
    --sidebar-primary: 260 70% 55%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 219 30% 12%;
    --sidebar-accent-foreground: 213 31% 91%;
    --sidebar-border: 219 30% 12%;
    --sidebar-ring: 260 70% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .clip-path-hero {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  code {
    @apply relative rounded bg-muted/70 py-[0.2rem] px-[0.3rem] font-mono text-sm font-medium;
  }

  pre code {
    @apply bg-transparent p-0;
  }
}
